@*
    Settings for game can be changed here
*@
@{
}


@{
    ViewData["Title"] = "Simulation View";
}

<!--
    model="Simulation" add to partial arguments to add model
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        canvas {
            border: 1px solid black;
        }
    </style>
    <partial name="_TitleBarPartial" />
</head>
<body>
    <aside>
        <partial name="_PageMenuPartial" />
    </aside>
    <main>
        <partial name="_PlayPartial" />
    </main>
</body>
</html>