@*
    Settings for game can be changed here
*@
@{
}


@{
    ViewData["Title"] = "Simulation View";
}
<style>
    canvas {
        border: 1px solid black;
    }
</style>

<h1>Title of Project</h1>

<canvas>
    
</canvas>

<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn" asp-controller="">Play</a>
        </div>
        <div class="col">
            Column
        </div>
        <div class="col">
            Column
        </div>
        <div class="col">
            Column
        </div>
    </div>
</div>