@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model DataAccess.Models.SimulationProjectModel

@{
}

<html>
<head>
    <style>
        .project-title-card {
            width: 500px;
            height: 50px;
            background-color: #2c5d63;
            border-radius: 10px;
        }

        .project-title-card:hover {
            background-color: #0366d6;
        }
    </style>
</head>
<body>
    <div class="project-title-card">
        <button class="btn text-black-50" asp-controller="ProjectMainPage" asp-action="ProjectMainPage">
            @Model.simName
        </button>
        <a class="btn-danger" asp-action="Remove">
            Remove
        </a>
    </div>
</body>
</html>

