@*
    Settings for game can be changed here
*@
@{
}


@{
    ViewData["Title"] = "Project View";
}

<!--
    model="Simulation" add to partial arguments to add model
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <style>
        #Wrapper {
            display: flex;
            transition: all 0.3s;
            color: #e0e0e0;
            position: fixed;
            left: 0px;
            top: 55px;
        }

        #Sidebar-Wrapper {
            
            background: #2c5d63;
            position: fixed;
            left: 10px;
            top: 66px;
            min-width: 250px;
            max-width: 250px;
            transition: all 0.3s;
            
        }

        #Sidebar {
            text-decoration: none;
            list-style: none;
            
            /* keep elements packed together within the wrapper */
            overflow: hidden;
            display: inline-block;
        }

        .Sidebar-Header {
            
        }

        #Sidebar div ul li {
            list-style-type: none;
            /*height: 50px;*/
            color: #e0e0e0;
        }

        #Sidebar h2 {
            padding-bottom: 30px;
        }

        #Sidebar .active {
            margin-left: -250px;
        }

        canvas {
            border: 1px black;
            left: 0px;
            top: 60px;
        }

    </style>
</head>
<body>
    <div id="Wrapper">
        <nav id="Sidebar">
            <!-- Sidebar
    <div id="Sidebar-Wrapper">
        <div class="row" id="Sidebar-Header">
            <div class="col-6 col-sm-1"><i class="bx bx-menu" id="ViewToggle"></i></div>
            <div class="col-6 col-sm-6"><div>Title Of Project</div></div>
        </div>
        <ul>
            <li>
                <a class="btn" asp-action="PlayPartial">
                    Play
                </a>
            </li>
            <li>
                <a class="btn" asp-action="About">
                    About
                </a>
            </li>
            <li>
                <a class="btn" asp-action="Code">
                    Code
                </a>
            </li>
            <li>
                <a class="btn" asp-action="PlayPartial">
                    Settings
                </a>
            </li>
        </ul>
    </div> -->
        </nav>
        <!-- Main content area -->
        <div id="Main-Content-Wrapper">
            <canvas id="glCanvas" width="640" height="480">
            </canvas>
        </div>
    </div>

    <!-- jquery, When menu is toggled, change the view based on its current state e.g. expand/shrink -->
    <script>
        $("sidebar-toggle").click(function (e) {
            e.PreventDefault();
            $("#Wrapper").toggleClass("MenuDisplayed");
        });
    </script>

    <script src="~/js/canvas.js"></script>
    <!-- When it isnt -->
</body>
</html>
