@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<DataAccess.Models.SimulationModel>

<h1>Simulation</h1>

<a class="btn text-dark" asp-action="Create">
    Create
</a>

<a class="btn text-black-50" asp-controller="SimulationPage" asp-action="SimulationPage">
    To Sim
</a>

@foreach(var Simulation in (IEnumerable<DataAccess.Models.SimulationModel>)ViewData["Simulation Data"])
            {
                <tr>
                    <td>@Simulation.simName</td>
                </tr>
            }